/* UNIVERSAL STYLING */

/* REMOVE ROUNDED CORNERS FROM EVERYTHING */
* {
    border-radius: 0 !important;
  }

/* SET BACKGROUND COLOUR FOR PAGE */
body {
    background-color: #FFC107 !important
}  

/* STYLING ALL BADGES */

.badge-styling {
    background-color: #C107FF;
  }