/* UNIVERSAL STYLING */

/* FONT IMPORT AND SETTING */

@font-face {
  font-family: 'Typographica';
  src: url('/src/assets/fonts/Typographica-Blp5.ttf'), format('truetype');
}

@font-face {
  font-family: 'Archivo';
  src: url('/src/assets/fonts/Archivo-VariableFont_wdth\,wght.ttf'), format('truetype');
}

*:not(h1) {
  font-family: 'Archivo', Courier, sans-serif;
}

h1 {
  font-family: 'Typographica', sans-serif;
}



/* REMOVE ROUNDED CORNERS FROM EVERYTHING */
* {
    border-radius: 0 !important;
  }

/* SET BACKGROUND COLOUR FOR PAGE */
body {
    background-color: #FFC107 !important
}  

/* STYLING ALL BADGES */

.badge-styling {
    background-color: #C107FF;
  }