.card {
    transition: translate ease-in-out 100ms, box-shadow ease-in-out 100ms;
    background-color: #FFD453;
    border-color: #FFD453;
}

.card:hover,
.card:focus {
    translate: 0 -10px;
    box-shadow: 0 10px 0 0 rgb(0,0,0, 1);
}